<section class="d-flex get-touch">
<div class="container">
<div class="row">
  <p class="pr-5">{{'content'| translate}}</p>
  <button class="btn btn-outline-secondary">{{"touch" |translate}}</button>
</div>
</div>
</section>

<section class="footer">
  <div class="container justify-content-center">
 <footer class="page-footer font-small indigo">
  <div class="container text-center text-md-left">
      <div class="row">
          <div class="col-md-3 mx-auto">
             <h5 class="font-weight-bold text-uppercase mt-3 mb-4">{{'footer-title1'  | translate}}</h5>
         <p>{{'title1-content'  | translate}}</p>
      </div>
        <div class="col-md-3 mx-auto links">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">{{'footer-title2'  | translate}}</h5>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-chevron-right"></i>
              <a href="#!"> {{'title2-content1'  | translate}}</a>
            </li>
            <li>
              <i class="fas fa-chevron-right"></i>
              <a href="#!">{{'title2-content2'  | translate}}</a>
            </li>
            <li>
                <i class="fas fa-chevron-right"></i>
                <a href="#!">{{'title2-content3'  | translate}}</a>
            </li>
            <li>
                <i class="fas fa-chevron-right"></i>
                <a href="#!">{{'title2-content4'  | translate}}</a>
            </li>
            <li>
                <i class="fas fa-chevron-right"></i>
                <a href="#!">{{'title2-content5'  | translate}}</a>
            </li>
          </ul>
         </div>
         <div class="col-md-3 mx-auto links">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">{{'footer-title2'  | translate}}</h5>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-chevron-right"></i>
              <a href="#!"> {{'title2-content1'  | translate}}</a>
            </li>
            <li>
              <i class="fas fa-chevron-right"></i>
              <a href="#!">{{'title2-content2'  | translate}}</a>
            </li>
            <li>
                <i class="fas fa-chevron-right"></i>
                <a href="#!">{{'title2-content3'  | translate}}</a>
            </li>
            <li>
                <i class="fas fa-chevron-right"></i>
                <a href="#!">{{'title2-content4'  | translate}}</a>
            </li>
            <li>
                <i class="fas fa-chevron-right"></i>
                <a href="#!">{{'title2-content5'  | translate}}</a>
            </li>
          </ul>
         </div>
       <div class="col-md-3 mx-auto">
     <h5 class="font-weight-bold text-uppercase mt-3 mb-4">{{'footer-title4'  | translate}}</h5>
        <p>{{'title4-content1'  | translate}} </p>
          <ul class="list-unstyled">
            <li>
                <i class="fas fa-map-marker-alt"></i>
              <a href="#!">{{'title4-content2'  | translate}}</a>
            </li>
            <li>
                <i class="fas fa-phone"></i>
              <a href="#!">{{'title4-content3'  | translate}}</a>
            </li>
            <li>
                <i class="far fa-envelope"></i>
              <a href="#!">{{'title4-content4'  | translate}}</a>
            </li>
           
          </ul>
  
        </div>
       </div>
    </div>
 </footer>
  <!-- Footer -->
  </div>
  <div class="container-fluid c-right">
    <div class="footer-copyright text-center ">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
   </div>
</section>